.image-p{
  background-color: #ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity(opacity=60));
}
.container{
margin-top: 200px;
margin-left: 32.5%;
}
body{
  background-image:url("https://rfclipart.com/image/big/cd-23-8e/pink-heart-shaped-floral-frame-Download-Royalty-free-Vector-File-EPS-22261.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
